In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

In [5]:
URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [7]:
tables = pd.read_html(URL)

In [8]:
df = tables[3]

In [9]:
df.columns = range(df.shape[1])

In [10]:
df = df[[0,2]]

In [11]:
df = df.iloc[1:11,:]

In [12]:
df.columns = ['Country','GDP (Million USD)']

In [13]:
df

           Country GDP (Million USD)
1    United States          26854599
2            China          19373586
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235

In [14]:
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

In [15]:
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

In [16]:
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

In [17]:
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

           Country  GDP (Billion USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [18]:
df.to_csv('./Largest_economies.csv')